/*------ Fonts declaration ------*/
@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-regular.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-regular-it.otf) format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-medium-it.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-bold-it.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
}


/*------ Variables declaration ------*/

:root {

  /* colors*/
  --main-color: rgba(134, 115, 228, 1);
  --font-color: rgba(47, 43, 66, 1);
  --greyish: rgba(173, 170, 189, 1);
  --light-greyish: rgba(238, 236, 245, 1);
  --gradient-bg: linear-gradient(90deg, rgb(235, 235, 251), rgb(243, 232, 244));
  --cards-color: white;
  --like-color: rgb(255, 27, 82);

  /* Separators */
  --separators: 2px solid var(--light-greyish);

  /* Separators */
  --box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  color: var(--font-color);
  background: var(--gradient-bg);
  height: 100vh;
  font-size: 16px;
  font-family: 'Cera', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* header and navbar contain all the element of the navbar*/
.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

/* container contains the logo and the navicon*/
.navbar>.container {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  width: 100%;
}

.navbar>.container h1,
.navbar>.container i.fa.fa-navicon {
  padding: 0.5em 1.5em;
  font-size: calc(0.8em + 3vw);
  display: flex;
  align-items: center;
}

.navbar>.container h1 {
  grid-column: 1;
  justify-content: flex-start;
}

.navbar>.container i.fa.fa-navicon {
  grid-column: 2;
  justify-content: flex-end;
  cursor: pointer;
}

.navbar .nav-items {
  display: flex;
  text-transform: uppercase;
  font-size: calc(0.5em + 1vw);
}

.nav-items li a {
  padding: 0.8em 2.5em;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.nav-items li:nth-child(4) {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar>.container {
    display: flex;
  }

  .navbar>.container i.fa.fa-navicon {
    display: none;
  }

  .navbar>.container h1 {
    position: initial;
  }

  .navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .nav-items li:nth-child(4) {
    display: initial;
  }

  .nav-items li:nth-child(5) {
    display: none;
  }
}