/*------ Fonts declaration ------*/
@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-regular.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-regular-it.otf) format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-medium-it.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera';
  src: url(./fonts/Cera-bold-it.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
}

/*------ Variables declaration ------*/

:root {

  /* colors*/
  --main-color: rgba(134, 115, 228, 1);
  --font-color: rgba(47, 43, 66, 1);
  --greyish: rgba(173, 170, 189, 1);
  --light-greyish: rgba(238, 236, 245, 1);
  --gradient-bg: linear-gradient(90deg, rgb(235, 235, 251), rgb(243, 232, 244));
  --cards-color: white;
  --like-color: rgb(255, 27, 82);

  /* Separators */
  --separators: 2px solid var(--light-greyish);

  /* Separators */
  --box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  color: var(--font-color);
  background: var(--gradient-bg);
  height: 100vh;
  font-size: 16px;
  font-family: 'Cera', sans-serif;
}
header{
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.navbar-desktop { display: none;} /* desktop & mobile navbars are two diffent div*/

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0.8em;
}

/* container contains the logo and the navicon*/
.navbar-mobile > .logo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-mobile>.logo-header h1,
.navbar-mobile>.logo-header i.fa.fa-navicon {
  padding: 0 1.5em 0.5em 1.5em;
  font-size: calc(0.8em + 3vw);
}

.navbar-mobile>.logo-header i.fa.fa-navicon {
  
  cursor: pointer;
}

.navbar-mobile .nav-items {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: calc(0.5em + 1vw);
}

.navbar-mobile .nav-items li img {
  height: 2em;
}

.nav-items li a {
  padding: 0.8em 2.5em;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.navbar-mobile .nav-items li a:hover, .navbar-mobile .nav-items li a.active{
  border-bottom: 4px solid var(--main-color);
}

/* tablettes et au dessus*/
@media screen and (min-width: 768px) { 
  /* suppression des éléments mobile */
  .navbar-mobile { display: none; }
  .navbar-desktop>.logo-header i.fa.fa-navicon { display: none; }

  .navbar-desktop>.logo-header img,
  .navbar-desktop>.logo-header i.fa.fa-navicon {
  padding: 0;
}

  .navbar-desktop {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    flex-direction: row;
  }

  .navbar-desktop .nav-items{
    display: flex;
    justify-content: space-around;
  }

  .navbar-desktop .nav-items li img {
    height: 20px;
    border: var(--font-color);
  }

  .navbar-desktop .nav-items li a:hover, .navbar-desktop .nav-items li a.active{
    border-bottom: 4px solid var(--main-color);
  }
}